@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

body {
  @apply font-mono text-base font-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-mono font-light;
}

p {
  @apply my-5 text-base leading-relaxed;
}

p > a {
  @apply mx-[-3px] bg-gradient-to-tr from-dark to-dark bg-[length:1px_1px] bg-bottom bg-repeat-x px-[2px] py-[3px] italic transition-all hover:bg-[length:1px_100%] hover:text-light dark:from-light dark:to-light dark:hover:text-dark;
}

.prose img {
  @apply m-0;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.rehype-code-title {
  @apply mt-5 inline-block rounded-t-md border border-b-0 border-neutral-800 bg-neutral-300 px-4 py-2 font-mono text-base text-neutral-800   dark:border-neutral-100;
}

.rehype-code-title + pre {
  @apply !mt-0 !mb-5 rounded-b-md rounded-tr-md border border-neutral-800 dark:border-neutral-100;
}

.highlight-line {
  @apply -mx-4 block border-l-8 border-neutral-100 bg-neutral-100 bg-opacity-5 px-4;
}
