@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

body {
  @apply font-mono font-normal text-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-mono font-light;
}

p {
  @apply text-lg my-5 leading-relaxed;
}

p > a {
  @apply px-[3px] py-[4px] mx-[-3px] italic hover:text-light dark:hover:text-dark transition-all bg-gradient-to-tr from-dark to-dark dark:from-light dark:to-light bg-bottom bg-[length:1px_1px] bg-repeat-x hover:bg-[length:1px_100%];
}

.prose img {
  @apply m-0;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.rehype-code-title {
  @apply mt-5 px-4 py-2 rounded-t-md inline-block font-mono text-base text-neutral-800 bg-neutral-300 border border-b-0 border-neutral-800   dark:border-neutral-100;
}

.rehype-code-title + pre {
  @apply !mt-0 !mb-5 border border-neutral-800 dark:border-neutral-100 rounded-b-md rounded-tr-md;
}

.highlight-line {
  @apply block px-4 -mx-4 border-l-8 border-neutral-100 bg-neutral-100 bg-opacity-5;
}
