@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

body {
  @apply font-mono text-base font-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-mono font-light;
}

p {
  @apply my-5 text-base leading-relaxed;
}

p > a {
  @apply mx-[-3px] bg-gradient-to-tr from-dark to-dark bg-[length:1px_1px] bg-bottom bg-repeat-x px-[2px] py-[3px] italic transition-all hover:bg-[length:1px_100%] hover:text-light dark:from-light dark:to-light dark:hover:text-dark;
}

.prose img {
  @apply m-0;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.post-wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(80ch, 100%)
    1fr;
}

.post-wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.circle {
  @apply my-12 mx-1 h-4 w-4 rounded-full bg-dark dark:bg-light;
}
